{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	<div class="body-container">
		<div class="homepage-container">
			<h2 class="display-5">Créer un compte</h2>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.username, {
			label: "Définir un nom d'utilisateur :"
		 }) }}
			{{ form_row(registrationForm.plainPassword, {
            label: "Choisir un mot de passe :"
        }) }}
			{{ form_row(registrationForm.agreeTerms, {
				label: "Accepter les conditions générales"
			}) }}

			<button type="submit" class="btn btn-md btn-primary">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
