{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	<div class="body-container">
		<div class="homepage-container">
			<h2 class="display-5">Inscription</h2>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.username, {
			label: 'Username :'
		 }) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password :'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-md btn-primary">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
