{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Categorie</h2>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
					</td>
				</tr>
			</tbody>
		</table>

		{{ include('category/_delete_form.html.twig') }}
		<a href="{{ path('app_category_index') }}">back to list</a>
	</div>
{% endblock %}
