<nav class="navbar navbar-expand-lg">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav" style="gap: 15px;width: 100%">
			<li class="nav-item">
				<a class="nav-logo nav-link" href="{{ path('homepage')}}">Timer Quiz</a>
			</li>
			{% if app.user %}
				<li class="nav-item active">
					<p>Connecté(e) :
						{{ app.user.userIdentifier }}</p>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item active">
						<u>
							<a class="nav-link" href="{{ path('app_account')}}">Mon Profil</a>
						</u>
					</li>
				{% endif %}
				<li class="nav-item active" style="margin-left: 50%">
					<u>
						<a class="nav-link" href="{{ path('app_logout')}}">[ Déconnexion ]</a>
					</u>
				</li>
			{% else %}
				<li class="nav-item active">
					<u>
						<a class="nav-link" href="{{ path('app_register')}}">S'inscrire</a>
					</u>
				</li>
				<li class="nav-item active">
					<u>
						<a class="nav-link" href="{{ path('app_login')}}">Se connecter</a>
					</u>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
