{% extends 'base.html.twig' %}

{% block title %}Timer Quiz
{% endblock %}

{% block body %}
	{% block menu %}
		{% include "component/navbar.html.twig" %}
	{% endblock %}
	<div class="container">
		<h2 class="display-5">Response</h2>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>IsResponse</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td>{{ response.id }}</td>
					<td>{{ response.title }}</td>
					<td>{{ response.isResponse ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_response_edit', {'id': response.id}) }}">edit</a>
					</td>
				</tr>
			</tbody>
		</table>

		{{ include('response/_delete_form.html.twig') }}
		<a href="{{ path('app_response_index') }}">back to list</a>
	</div>
{% endblock %}
